.coming-soon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .notification-text {
    color: #eeeeee;
    font-size: 110px;
    font-weight: 600;
  }
}
