.home-page-container {
  height: 100vh;
  width: 100%;
  padding: 5%;
  padding-bottom: 0;
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 20% repeat(3, 1fr);
  grid-template-areas:
    "tabs content content content content"
    ". . . chat chat";

  .tabs-container {
    border: 1px solid;
    grid-area: tabs;
    background-color: #5a3ec8;
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .details-container {
    /* border: 1px solid red; */
    grid-area: content;
  }
  .chat-container {
    border: 1px solid blue;
    grid-area: chat;
  }
}

.tabs {
  width: 85%;

  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;

    .name-and-line {
      width: 70%;
      .name {
        padding: 10% 0;
        font-size: 18px;
      }
    }

    .selected-tab-icon {
      width: 20%;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50% 0 0 50%;
      color: gray;
      background-color: white;
    }
  }
}

.details-header {
  /* border: 1px solid; */
  height: 12%;
  /* border-bottom: 1px solid gray; */
}

.user-details {
  /* border: 1px solid teal; */
  height: 88%;
}
